client/node_modules/
client/build/
.env
client/node_modules/.cache/default-development/23.pack
*.pack
node_modules
node_modules
node_modules
node_modules
client/node_modules/.cache/.eslintcache
client/node_modules/.cache/.eslintcache
.env
.env
.env
.env
client/.env
.env
